<div th:fragment="navbar-left">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <h2 style="margin-top: 10px; text-align: center">Навигация</h2>
            <div class="user-profile">
                <div class="dropdown user-pro-body">
                    <div><img src="/static/resources/plugins/images/users/varun2.jpg" alt="user-img" class="img-circle"></div>
                    <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${accountData.getSurname() + ' ' + accountData.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu animated flipInY">
                        <li><a href="/admin/profile"><i class="ti-user"></i> Профиль</a></li>
                        <li><a href="/admin/profile"><i class="ti-settings"></i> Настройки профиля</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/auth"><i class="fa fa-power-off"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav" id="side-menu">
                <li><a href="/admin" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Главная страница </span></a> </li>
                <li><a href="/admin/profile"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Профиль </span></a> </li>
                <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="7"></i> <span class="hide-menu"> Сотрудники <span class="fa arrow"></span> </span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="/admin/employees/list"><i class=" fa-fw"></i><span class="hide-menu">Все сотрудники</span></a> </li>
                        <li> <a href="/admin/employees/add"><i class=" fa-fw"></i><span class="hide-menu">Добавить сотрудника</span></a> </li>
                    </ul>
                </li>
                <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="7"></i> <span class="hide-menu"> Отделы <span class="fa arrow"></span> </span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="/admin/departments/list"><i class=" fa-fw"></i><span class="hide-menu">Все отделы</span></a> </li>
                        <li> <a href="/admin/departments/add"><i class=" fa-fw"></i><span class="hide-menu">Добавить отдел</span></a> </li>
                    </ul>
                </li>
                <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="7"></i> <span class="hide-menu"> Мотивация <span class="fa arrow"></span> </span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="/admin/motivation/list"><i class=" fa-fw"></i><span class="hide-menu">Список</span></a> </li>
                        <li> <a href="/admin/motivation/add"><i class=" fa-fw"></i><span class="hide-menu">Добавить способ</span></a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>