<div th:fragment="scripts">
    <script src="/static/resources/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/resources/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <script src="/static/resources/js/jquery.slimscroll.js"></script>
    <script src="/static/resources/js/waves.js"></script>
    <script src="/static/resources/js/custom.js"></script>
</div>